<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Repository.AssemblyCatalog" type="System.Configuration.NameValueSectionHandler"/>
    <section name="Repository.TypeCatalog" type="System.Configuration.NameValueSectionHandler"/>
    <section name="Settings.ViewModel" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>

  <!--Trace log-->
  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <!--<add name="BizTrace"
             fileNamePrefixDateFormat="yyyyMMddHHmmssfff"
             fileName="trace.log"
             type="uEN.Core.BizTraceListener, uEN"
             traceOutputOptions="ProcessId, ThreadId, DateTime">
          <filter type="System.Diagnostics.EventTypeFilter" initializeData="Warning" />
        </add>-->
      </listeners>
    </trace>
  </system.diagnostics>

  <system.data>
    <DbProviderFactories>
      <!--PostgresSql Data Provider-->
      <!--<add name="Postgres Sql Data Provider"
           invariant="System.Data.Npgsql"
           description=".Net Framework Data Provider for Postgres Sql"
           type="Npgsql.NpgsqlFactory, Npgsql"/>-->
    </DbProviderFactories>
  </system.data>

  <connectionStrings>
    <!-- SQL-Server -->
    <add name="Default"
         providerName="System.Data.SqlClient"
         connectionString="Data Source=(ServerName\Instance);Initial Catalog=(Db); User ID=(UserName);Password=(Passward)"/>
  </connectionStrings>

  <!--MEF(Assembly) -->
  <Repository.AssemblyCatalog>
    <add key="uEN" value=""/>
    <add key="TableClassGenerator.Core" value=""/>
    <add key="TableClassGenerator" value=""/>
  </Repository.AssemblyCatalog>

  <!--MEF(Type)-->
  <Repository.TypeCatalog>
  </Repository.TypeCatalog>

  <!--設定機能への追加-->
  <Settings.ViewModel>
    <add key="uEN.UI.Controls.FontFamilyViewModel,uEN" value=""/>
    <add key="uEN.UI.Controls.FontSizeViewModel,uEN" value=""/>
    <add key="uEN.UI.Controls.BrandColorViewModel,uEN" value=""/>
    <add key="uEN.UI.Controls.ThemeColorViewModel,uEN" value=""/>
    <add key="uEN.UI.Controls.AdvancedOptionViewModel,uEN" value=""/>
  </Settings.ViewModel>

  <appSettings>
    <add key="CompanyName" value="TableClass Generator"/>
    <add key="CompanyDescription" value="uEN Labratory"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
</configuration>